<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-Shortener</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p>{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}
    <form id="submission" action="" method="POST">
        <input type="text" placeholder="Input Url" name="url-input" value={{url}}>
        <input type="submit" id="url-submit" value="Submit">
    </form>
    {% if shortened %}
        <p>Here is your brand new shortened URL:</p>
        <a href="{{url}}" target=_blank>{{shortened}}</a>
        <input type="button" id="url-copy" value="Copy" onclick="copyTextToClipboard()">
    {% endif %} 

    <script>
        function copyTextToClipboard() {
            copy = document.querySelector('a')
            console.log(copy.innerText)
            navigator.clipboard.writeText(copy.innerText)
        }
    </script>
</body>
</html>